/* css styles */
.important {
  color: #9A2EFE;
  font-weight: bold;
}
.base {
    line-height: 1.15em;
    width: 95%;
    border-radius: 5px;
    outline: 5px solid #999933;
    margin: 3mm;
}
.dtbl {
    line-height: 1.15em;
    width: 95%;
    border-radius: 5px;
    outline: 5px solid  #CC6677;
    margin: 3mm;
}
.dplyr {
    line-height: 1.15em;
    width: 95%;
    border-radius: 5px;
    outline: 5px solid #44AA99;
    margin: 3mm;
}
.other {
    line-height: 1.15em;
    width: 95%;
    border-radius: 5px;
    outline: 5px solid #88CCEE;
    margin: 3mm;
}
.output {
    border-left: #AAAAAA solid;
}
h3 {
  border-bottom: 2px solid #f7f7f7;
  padding-top: 10px;
  font-size: 110%;
  font-style: italic;
}
/* unvisited link */
a:link {
  color: #777777;
}
/* visited link */
a:visited {
  color: #777777;
}
/* no stripes in table */
.no-stripe .gt_table tr.odd {
  --bs-table-striped-bg: transparent;
}
